@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0; 
    box-sizing: border-box;
}

body {
    width: 100vw;
    background-color: yellow;
    font-family: "Inter";
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    padding: 16px;
    color: yellow;
    width: 500px;
    height: 500px;
    background-color: #0b0b0b;
    border: 2px solid #656565;
    border-radius: 15px;
}

.message {
    font-weight: 400;
    padding-block: 4px;
    font-size: 12px;
}

.safe-message {
    color: #48bb48;
}

.error-message {
    color: rgb(225, 83, 83);
}