@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --light-gray-text-color: #aca3a3;
    --light-green-text-color: #527a52;
    --lighter-green-bg: #add1ad;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-block: 36px;
    font-family: "Sansation";
}

main {
    width: 500px;
    height: 500px;
}

.forgot-password-round-div {
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.title {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
}

form {
    margin: auto;
    padding: 16px;
    width: 80%;
    display: flex;
    flex-direction: column;
}

form label {
    padding-bottom: 8px;
}

form input {
    border: 2px solid var(--light-gray-text-color);
    border-radius: 5px;
    padding: 8px;
}

form button[type = "submit"] {
    background-color: #0b0b0b;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    margin-top: 24px;
    padding: 12px;
}

.message {
    font-weight: 400;
    padding-block: 4px;
    font-size: 12px;
}

.error-message {
    color: rgb(225, 83, 83);
}

.vital-essence-logo-div {
    margin: auto;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.vital-essence-logo-div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}